aiofiles
openai
fpdf
fastapi
uvicorn
sqlalchemy
pydantic
passlib[bcrypt]
python-jose[cryptography]
email-validator
python-multipart
alembic
python-dotenv
pydantic-settings
psycopg2
easyocr
opencv-python-headless
pillow
filetype
pandas
deepseek
google-cloud-vision
PyPDF2